.ai-box {
  position: absolute;
  right: 2%;
  top: 12.3%;
  background-color: rgb(184, 222, 255);
  height: 87%;
  border-radius: 10px;
  width: 25vw;
  max-width: 25vw;
}

.ai-box .title {
  color: white;
  text-align: center;
  font-family: "Avenir";
  font-size: 20px;
  background-color: rgb(99, 182, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -2%;
  border-radius: 10px;
}

.ai-box .text {
  padding: 20px;
  font-family: "Avenir";
  font-size: 18px;
  display: inline-block;
}

.prev.btn,
.next.btn {
  position: absolute;
  bottom: 6%;
  width: 40%;
  padding: 12px;
  background-color: rgb(255, 147, 5);
  font-family: "Avenir";
  font-size: 16px;
  color: white;
  transition: 0.25s;
  z-index: 2;
  border: 1px solid rgb(255, 123, 0);
  border-radius: 5px;
}

.prev {
  left: 7%;
}

.next {
  right: 7%;
}

.ai-box .btn:hover {
  background-color: rgb(255, 123, 0);
}

.practice {
  position: absolute;
  width: 86%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(63, 63, 62);
  background-color: rgb(107, 107, 107);
  font-family: "Avenir";
  font-size: 16px;
  color: white;
  transition: 0.25s;
  bottom: 15%;
  left: 7%;
}

.practice:hover {
  border: 1px solid rgb(36, 36, 36);
  background-color: rgb(63, 63, 62);
}

.btn:disabled {
  background-color: #ffcf8f;
  border: #ffba5f;
}

.start {
  width: 10vw;
  padding: 12px;
}

.ai-box .slider {
  padding: 2px;
  text-align: center;
  width: 90%;
  position: absolute;
  left: 3%;
}

.ai-box .subtitle {
  text-align: center;
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -2%;
  border-radius: 10px;
}
