.ai-box {
  width: 30vw;
  position: absolute;
  right: 5%;
  top: 16%;
  text-align: center;
}

.history {
  max-height: 40vh;
}

.ai-selector .banner {
  height: 20%;
}

.banner p {
  margin: 0;
}

.ai-selector .selector {
  height: 80%;
}

.selector .item {
  cursor: pointer;
  transition: 0.25s;
  margin: 4px;
  padding: 4px;
  border-radius: 3px;
}

.selector .item.active {
  border: 2px solid var(--primary-color);
}

.selector .item.active:hover {
  border: 1px solid var(--primary-color);
}

.selector .item:hover {
  border: 2px solid var(--primary-color);
}

.ai-box .select {
  list-style-type: none;
  padding: 0;
}

.ai-box .select li {
  display: inline-block;
  margin: 5px;
}

.selector .item .title {
  font-weight: bold;
  margin: 2px;
}

.selector .item .subtitle {
  margin: 0;
  color: grey;
}

.selector .item .img {
  width: 100px;
  height: 100px;
}

.ai-box .circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 0.1s;
}

.circle.white {
  border: 1px solid #000;
}

.circle.black {
  background-color: #000;
}

.circle.any {
  background: linear-gradient(90deg, #ffffff 50%, #000000 50%);
  border: 1px solid #000000;
  margin-right: 5px;
}

.circle.active {
  border: 3px solid var(--primary-color);
}

.circle:hover {
  border: 2px solid #9455ff;
}

.circle.active:hover {
  border: 2px solid #000000;
}
