.dashboard-container .page-wrapper {
  padding: 8px;
  display: grid;
  grid-template-areas:
    "profile  stats    friends"
    "buttons  buttons  leaderboard";
  grid-template-columns: 35vw 35vw 30vw;
  grid-template-rows: 25vh 67vh;
  padding: 0;
}

.page-wrapper .profile {
  grid-area: profile;
  display: flex;
  align-items: center;
  position: relative;
}

.profile .avatar {
  width: 10vw;
  height: 10vw;
}

.profile .text-container {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  height: 100%;
  justify-content: center;
}

.profile .data-username {
  display: inline;
  font-weight: bold;
  font-size: 2vw;
  margin: 0;
}

.profile .online {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #30c702;
}

.profile .fullname {
  margin: 0;
  color: #aaa;
}

.profile .edit-icon {
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.25s;
}

.profile .edit-icon:hover {
  color: var(--primary-color-hover);
}

.profile .rating {
  padding-left: 0;
}

.profile .rating-item {
  display: inline;
  list-style: none;
  margin-left: 10px;
}

.profile .rating-item.first {
  margin-left: 0;
}

.flex-row {
  display: flex;
}

.stats {
  grid-area: stats;
}

.stats .header {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.stats .subheader {
  margin: 2px;
}

.stats .subheader span {
  font-weight: bold;
  font-size: 20px;
}

.stats .flex-row {
  align-items: center;
}

.stats .button-group {
  margin-left: 1vw;
}

.stats .wins {
  font-size: 20px;
  color: green;
}

.stats .losses {
  font-size: 20px;
  color: crimson;
}

.stats .draws {
  font-size: 20px;
  color: grey;
}

.stats .win-percentage {
  font-size: 18px;
}

.stats .win-percentage span {
  font-size: 30px;
  font-weight: bold;
}

.stats .text-container-2 {
  width: 100%;
}

.friends {
  grid-area: friends;
  margin-left: 1vw;
}

.friends .header {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  transition: all 0.25s;
}

.friends .header:hover {
  color: var(--primary-color);
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-areas:
    "button1 button2 button3 button4"
    "button5 button6 button7 button8";
  gap: 1vw;
  padding: 10px;
}

.buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f3e6ff;
  cursor: pointer;
  transition: all 0.25s;
}

.buttons .button:hover {
  background-color: #e3c5ff;
}

.buttons .button p {
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .page-wrapper {
    display: grid;
    grid-template-areas:
      "profile stats"
      "friends buttons" !important;
    grid-template-columns: 50vw 50vw !important;
  }

  .profile {
    grid-area: profile;
  }

  .friends {
    grid-area: friends;
  }

  .stats {
    grid-area: stats;
  }

  .buttons {
    grid-area: buttons;
  }
}

.buttons .button .icon {
  font-size: 5vw;
  color: black;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}

.buttons .button:nth-child(1):hover .icon {
  color: yellow;
  animation: moveup 1s cubic-bezier(0.075, 0.4, 0.8, 1) forwards;
}

.buttons .button:nth-child(2):hover .icon {
  color: red;
  animation: moveup 1s cubic-bezier(0.075, 0.4, 0.8, 1) forwards;
}

.buttons .button:nth-child(3):hover .icon {
  color: grey;
}

.buttons .button:nth-child(4):hover .icon {
  color: rgb(54, 145, 214);
  animation: spin 1s cubic-bezier(0.075, 0.4, 0.8, 1);
}

.buttons .button:nth-child(6):hover .icon {
  color: rgb(255, 140, 0);
}

.buttons .button:nth-child(7):hover .icon {
  color: rgb(4, 174, 19);
  animation: moveup 1s cubic-bezier(0.075, 0.4, 0.8, 1) forwards;
}

.buttons .button:nth-child(8):hover .icon {
  animation: spin 1s cubic-bezier(0.075, 0.4, 0.8, 1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveup {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: -10%;
  }
}

.friends .content {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.daily-puzzle {
  grid-area: leaderboard;
  margin-left: 1vw;
}

.daily-puzzle .header {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
