main {
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.box-container .box {
  width: 19vw;
  height: 90%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.075, 0.95, 0.97, 1);
}

.box:hover {
  background-color: #3c3c3c;
}

.box:hover img {
  transform: rotate(70deg);
}

.box-container .box p.title {
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
}

.box img {
  transition: 0.5s;
}
