.lesson-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 12.3%;
  height: 87%;
  border-radius: 10px;
  width: 30vw;
  max-width: 30vw;
  border: 1px solid #000;
}

.lesson-box .title {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.lesson-box .text {
  padding: 20px;
  font-family: "Avenir";
  font-size: 18px;
  display: inline-block;
}

.lesson-box .btn-block {
  margin-top: 2%;
  width: 90%;
}

.lesson-box .btn-block.first {
  margin-top: 70%;
}

.practice:hover {
  border: 1px solid rgb(36, 36, 36);
  background-color: rgb(63, 63, 62);
}

.highlight {
  background-color: #ff4e4e91;
}

.highlight2 {
  background-color: #aa000091;
}

.highlightalt {
  background-color: #4ef0ff91;
}

.highlightalt2 {
  background-color: #00889491;
}

.highlightctrl {
  background-color: #ffc14eb9;
}

.highlightctrl2 {
  background-color: #df9800b7;
}

.highlightshift {
  background-color: #a1ff4e91;
}

.highlightshift2 {
  background-color: #4aa00091;
}

.lesson-box .progress {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8rem;
}

.lesson-board-container {
  position: absolute;
  top: 17%;
  left: 10%;
}
