.board {
  align-self: center;
  width: 21vw;
  aspect-ratio: 1 / 1;
}

.page-1 .board {
  width: 19vw !important;
}

.game .board,
.puzzle-wrapper .board,
.editor .board {
  margin-top: 8%;
  margin-left: 3%;
}
