.board {
  align-self: center;
  width: 21vw;
}

.page-1 .board {
  width: 19vw !important;
  height: 19vw !important;
}

.page-1 .board > div > div > div {
  width: 38vw !important;
  height: 38vw !important;
}

.board > div > div > div {
  width: 42vw !important;
  height: 42vw !important;
}

.board > div > div > div > div {
  width: 100% !important;
  height: 12.5% !important;
}

.board > div > div > div > div > div {
  width: 12.5% !important;
  height: 100% !important;
}

.board > div > div > div > div > div > div {
  width: 100% !important;
  height: 100% !important;
}

.board > div > div > div > div > div > div > div {
  width: 100% !important;
  height: 100% !important;
}

.board > div > div > div > div > div > div > div > svg {
  width: 100% !important;
  height: 100% !important;
}

.game .board,
.puzzle-wrapper .board,
.editor .board {
  margin-top: 8%;
  margin-left: 3%;
}
