.btn-block {
  display: inline-block;
  padding: 12px;
  transition: 0.25s;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  font-family: "Avenir";
  width: 100%;
  cursor: pointer;
  border: 0;
}

.btn-block:disabled,
.btn:disabled,
.btn-flex:disabled,
.btn-flex-login:disabled {
  background-color: var(--primary-color-tint);
}

.btn-block:disabled:hover,
.btn:disabled:hover,
.btn-flex:disabled:hover,
.btn-flex-login:disabled:hover {
  background-color: var(--primary-color-tint);
}

.btn {
  padding: 12px;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: "Avenir";
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  transition: 0.25s;
  margin-right: 2%;
}

.btn-flex {
  width: 40%;
  margin-left: 5%;
  position: absolute;
  bottom: 5%;
  padding: 12px;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: "Avenir";
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  transition: 0.25s;
  text-align: center;
}

.btn-flex-login {
  width: 40%;
  margin-left: 5%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 12px;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: "Avenir";
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  transition: 0.25s;
  text-align: center;
}

.btn-block:hover,
.btn-flex:hover,
.btn-flex-login:hover {
  background-color: var(--primary-color-hover);
}

.btn-danger {
  background-color: #ff0000 !important;
  color: #fff !important;
}

.btn-danger:disabled {
  background-color: #ffadad !important;
  color: #fff !important;
}

.btn-danger:hover {
  background-color: #b30202cb;
}

.btn-secondary {
  background-color: #848484 !important;
  color: #fff !important;
}

.btn-secondary:disabled {
  background-color: #c7c7c7 !important;
  color: #fff !important;
}

.btn-secondary:hover {
  background-color: #353535cb;
}

.button-group {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: 60%;
  border: 0.5px solid #0346ff;
}

.button-group .button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--primary-color-tint);
  border: 0.5px solid #0346ff;
  cursor: pointer;
  transition: all 0.25s;
}

.button-group .button:hover {
  background-color: var(--primary-color-tint-hover);
}

.button-group .button:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

.button-group .button:nth-child(5) {
  border-radius: 0 5px 5px 0;
}

.button-group .button.active {
  background-color: var(--primary-color);
}

.button-group .button.active:hover {
  background-color: var(--primary-color-hover);
  color: #fff;
}
