.card {
  width: 40vw;
  height: 10vw;
  display: flex;
  position: relative;
  padding: 8px;
  transition: all 0.25s;
  cursor: pointer;
  background-color: #000;
}

.card .img-column {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .flex-column:nth-child(2) {
  width: 70%;
}

.card .btn-block {
  width: 95%;
}

.card .img {
  height: 60%;
  width: 45%;
}

.card .header {
  font-weight: bold;
  font-size: 1.4vw;
  margin: 2px;
  transition: all 0.25s;
  color: #fff;
}

.card .subheader {
  font-weight: 600;
  color: #aaa;
  margin-top: 4px;
  margin-left: 2px;
  transition: all 0.25s;
}

.card.mini {
  width: 37vw;
}

.card.mini .img {
  height: 55%;
  width: 45%;
}

.card .creator {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  font-size: 14px;
  margin: 0;
}

.card:hover .header {
  color: var(--primary-color);
}

.card:hover .subheader {
  color: #747474;
}
