.input {
  padding: 12px;
  font-family: "Nunito Sans";
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  width: 100%;
}

.inp-cont {
  width: 100%;
}

.icon-container {
  padding: 16px;
  width: 12%;
  border-radius: 5px 0 0 5px;
  background-color: var(--primary-color);
}

.icon {
  color: white;
}

.input:focus {
  outline: none;
}
