.input {
  background-color: transparent;
  margin-top: 5%;
  width: 155%;
  margin-left: 12%;
  border: 1px solid #aaa;
  padding: 12px;
  border-radius: 0 5px 5px 0;
  font-family: Avenir;
}

.input:focus {
  outline: none;
}
