.body {
  display: flex;
  height: 92vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.form {
  border: 1px solid #000;
  margin-top: 10%;
  height: 60vh;
  width: 30vw;
}

.body .p-inputtext {
  width: 100%;
}
