.body {
  height: 92vh;
  width: 100vw;
  margin-top: 8vh;
}

.container {
  height: 100%;
}

.form {
  text-align: center;
  gap: 10px;
  width: 50vw;
}

.image {
  height: 100%;
  width: 50vw;
  background-color: var(--primary-color-shade);
}

.body .p-inputtext {
  width: 100%;
}

.header-2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.board-container-form {
  position: absolute;
  right: 45%;
  top: 20%;
}

.board-container-login {
  position: absolute;
  left: 5%;
  top: 20%;
}

.image .subtitle {
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin-top: 5%;
}

.switch-link {
  margin-bottom: 5vh;
}

.rules {
  text-align: left;
}
