@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap");

p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: "Nunito Sans" !important;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.emp {
  color: rgb(135, 43, 255);
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.err {
  color: red;
  font-size: 14px;
  text-align: center;
}

.no-decoration {
  text-decoration: none;
}
