.page-wrapper {
  display: grid;
}

.puzzle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.puzzle-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 4;
  grid-column-end: 5;
  height: 100vh;
}

.puzzle-box {
  position: relative;
  width: 26vw;
  height: 65vh;
}

div.user {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.puzzle-box .subtitle {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}

.username {
  font-size: 20px;
  font-family: Avenir;
  font-weight: bold;
  margin-left: 2%;
}

.rating-text {
  position: absolute;
  right: 0;
  font-size: 16px;
  font-family: Avenir;
  font-weight: 500;
  margin-top: 5%;
}
