@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

.example {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 2px;
}
